
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #111;
    
    nav {
        display: flex;
        justify-content: center;
        background-color: #333;
        
        p {
            color: #ddd;
            margin: 1.5rem 1.25rem;
            padding: 0.5rem 0.75rem;
            font-size: 2rem;
            transition: all 0.15s ease-in-out;
            
            &:hover {
                cursor: pointer;
                padding-top: 0.4rem;
                padding-bottom: 0.6rem;
            }
            
        }
        
        .selected {
            // background-color: #555;
            color: #fff;
            // text-decoration: underline;
            border-bottom: 0.15rem solid white;
        }
    }

    #content {
        width: 100vw;
        min-height: 100vh;
    
        .container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #ddd;
        
            h1, h2, p {
                padding: 0.5rem;
                font-weight: normal;
            }
            
            h1 {
                font-size: 4rem;
                margin-top: 1rem;
                text-decoration: underline;
            }

            h2 {
                font-size: 2.5rem;
            }
            
            p, i {
                font-size: 1.5rem;
            }
        }

        .menu-container {

            .item-container {
                width: 50%;
                margin-bottom: 3rem;

                .item-image {
                    border-radius: 50%;
                }
            }
        }

        .contact-container {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .address-container {
                display: flex;
                flex-direction: column;
                align-items: center;

                .address-name {
                    text-decoration: underline;
                }
            }

            .hours-container {
                .hours-header {
                    font-size: 2rem;
                }

                .hours {
                    font-size: 1.3rem;
                }
            }

            .phoneEmail-container {
                display: flex;
                gap: 3rem;

                .phone {}
    
                .email {}
            }
        }
        
        .image-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
    }
}




